<form (ngSubmit)="updateView()">
    <mat-form-field>
        <mat-select placeholder="Filter by Author">
            <mat-option *ngFor="let author of authors" [value]="author">{{author}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Filter by Owner">
            <mat-option *ngFor="let owner of owners" [value]="owner">{{owner}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button color="primary" type="submit" [disabled]="isFormChanged()">Update</button>
</form>