<mat-toolbar>
    <mat-toolbar-row>
        <div class="pages">
            <button mat-button routerLink="/home">Tokens</button>
            <button mat-button routerLink="/kitties">Kitties</button>
        </div>
        <div>
            <m-web3-modal
            title="Modal Title"
            description="Modal description"
            descriptionGray="Modal subtitle"
            dismissText="Text that will dismiss modal on click"
            ></m-web3-modal>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
